@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.result-heading .btn {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 6px;
}
.results-p {
  margin-bottom: 0;
  padding-bottom: 0;
}
#results-date {
  font-weight: bold;
}
#status {
  font-style: italic;
  padding: 10px;
  font-family: monospace;
  font-size: 12px;
  width: auto;
  float: right;
  margin-bottom: 22px;
  display: inline-block;
  border-radius: 2px;
}
.input-field-submit {
  position: relative;
}
#form-submit-btn {
  float: right;
  width: 90%;
}
#preloader {
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}
button[disabled=disabled], button:disabled {
  opacity: 0.8;
}
li.tab a {
  font-size: 12px;
}
li.tab a.active,
.card-content {
  background-color: rgba(155,155,155,.1);
}
#tabs-content .entries {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#tabs-content .entries li {
  width: 32%;
  height: auto;
  margin-bottom: 8px;
}
